* {
  margin: 0px;
  padding: 0px;
}
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
}

.lefts {
  width: 180px;
  height: 100%;
  background-color: #222d32;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 888;
  transition: all 1s;
}
.lefts .title {
  height: 50px;
  width: 100%;
  background-color: #367fa9;
}
.lefts .title h1 {
  margin: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

.lefts .img {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.lefts .img img {
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 30px;
}
.lefts .img p {
  height: 40px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
}
.lefts .uls ul li i {
  color: #fff;
  font-size: 16px;
  margin-right: 5px;
}
.lefts .uls ul li a {
  height: 40px;
  display: block;
  padding-left: 40px;
  color: #fff;
  line-height: 40px;
  border-left: 3px solid transparent;
}
.lefts .uls ul li .topp {
  display: none;
}
.lefts .uls ul li .topp a {
  padding-left: 65px;
}
.lefts .uls ul li a.curren {
  border-left: 3px solid #367fa9;
  background-color: #1d1f21;
}

.tops {
  width: 100%;
  height: 50px;
  background-color: #3c8dbc;
  padding-left: 180px;
  line-height: 50px;
  position: fixed;
  transition: all 1s;
  z-index: 777;
}
.tops div {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.bottoms {
  width: 100%;
  height: 1000px;
  /* background-color: pink; */
  padding-top: 70px;
  padding-left: 195px;
  overflow: hidden;
  transition: all 1s;
}
.modal-body {
  color: #a94442;
}

/*滑动区域 */
.sports {
  left: -180px;
}
.sport {
  padding-left: 0px;
}
.table > thead > tr > th,
 .table > tbody > tr > th,
  .table > tfoot > tr > th, 
  .table > thead > tr > td,
   .table > tbody > tr > td,
 .table > tfoot > tr > td{
  text-align: center;
  vertical-align:middle;
}

.mb_20{
  margin-bottom: 20px;
}
