.product-left{
width: 90px;
height: 100%;
/* background-color: pink; */
float: left;
}
 .product-right{
     padding: 10px;
    height: 100%;
    overflow: hidden;
    /* background-color: hotpink; */
} 
.product-left ul li a{
    display: block;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #E3E4E5;
    color: #666;
}
.product-left ul li a.curren{
    border-right: none;
    background-color: #fff;
}
.product-right ul li{
    float: left;
    text-align: center;
    width: 33.333%;
}
.product-right ul li img{
    width: 70px;
    height: 50px;
    margin: 0 auto;
}